@import '/src/styles/variables.scss';

.call {
  background-color: $red200;
  padding: 6px 12px;
  height: 32px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  @include font(14px, 600, $primdanger);
  margin-left: auto;
  img {
    margin-right: 4px;
  }
}
@media (max-width: 768px) {
  .call {
    margin-left: 0;
  }
}
.mainBtn {
  @include font(16px, 600, $primtitan);
  padding: 16px 30px;
  background-color: $primblue;
  border-radius: 30px;
  &:hover {
    outline: 1px solid $primblue;
    color: $primblue;
    background-color: $primtitan;
  }
  &:disabled {
    background-color: $primtitan;
    color: $primblue;
    &:hover {
      color: $primblack;
      outline: 1px solid $primblack;
    }
  }
}
.summary {
  position: absolute;
  top: 15%;
  right: 0;
  background-color: $primblue;
  border-radius: 25px;
  @include font(18px, 600, $primwhite);
  outline: 1px solid $primwhite;
  padding: 5px;
  z-index: 100;
  &:hover {
    color: $primblue;
    outline-color: $primblue;
    background-color: $primwhite;
  }
}
.picker {
  color: $primblue;
  padding: 10px;
  font-size: 1.25rem;
  background-color: $primtitan;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 10px;
    height: 10px;
  }
}
.close {
  background-color: rgba(0, 0, 0, 0);
  font-size: 36px;
  color: black;
}
