@import '../../styles/variables.scss';
.root {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  .bg {
    position: absolute;
    z-index: -1;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10%;
    margin-bottom: -2%;
  }
}
