@import 'variables.scss';
.content__burger {
  .burger__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10%;
    margin-bottom: -2%;
    .burger__item {
      width: 90%;
      margin-bottom: -10%;
      &:first-child {
        margin-bottom: -10%;
      }
    }
    .burger__item_cutlet {
      margin-bottom: -6%;
      margin-top: -5%;
    }
    .burger__item_cheese {
      margin-bottom: -12%;
    }
    .burger__item_salad {
      margin-bottom: -7%;
      margin-top: -8%;
    }
    .burger__item_mayo {
      margin-bottom: -9%;
    }
    .burger__item_cucumber,
    .burger__item_onion,
    .burger__item_tomato {
      margin-bottom: -3%;
    }
    .burger__item_topbun {
      margin-bottom: -4%;
    }
  }
}
