@import 'variables.scss';
@media (min-width: 480px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
  .content__burger {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 479px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .content__burger {
    margin-top: 30px;
    width: 60vw;
    height: 60vw;
  }
}
.content {
  width: 100%;
  display: flex;
  .content__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .content__background {
      position: absolute;
      z-index: -1;
    }
    .content__gift {
      position: absolute;
      z-index: 800;
      right: -40%;
      bottom: -20px;
      display: none;
      flex-direction: row;
      align-items: center;
      user-select: none;
      @include font(1rem, 600, $primblack);
      span {
        color: $primdanger;
      }
    }
    .content__bun {
      color: $primdanger;
      width: 100%;
    }
  }
}
