@import 'variables.scss';

@media (min-width: 768px) {
  .content__button {
    @include font(1.2rem, 800, $primwhite);
  }
}
@media (max-width: 767px) {
  .content__button {
    @include font(0.75rem, 800, $primwhite);
  }
}

@media (min-width: 480px) {
  .content__bg {
    max-height: 80%;
    max-width: 60%;
    margin-right: -3vw;
  }
  .content__button {
    width: 9vw;
    height: 9vw;
  }
}
@media (max-width: 479px) {
  .content__bg {
    margin-top: 30px;
    max-height: 80%;
    max-width: 100%;
    margin-right: -3vw;
  }
  .content__button {
    width: 15vw;
    height: 15vw;
  }
}
.content__button {
  background-color: $primblue;
  border: none;
  position: absolute;
  right: 50%;
  bottom: 20%;
  border-radius: 9vw;
  text-align: center;
  &:hover {
    color: $primblue;
    background-color: $primwhite;
    outline: 2px solid $primblue;
  }
}
