@import '../../styles/variables.scss';
.root {
  z-index: 900;
  height: 100%;
  width: 100%;
  background-color: rgba(82, 67, 194, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  .container {
    max-width: 608px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    border-radius: 20px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid $primtitan;
      margin-bottom: 10px;
      padding: 16px;
      @include font(1rem, 600, $primblack);
    }
    .modal__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-bottom: 2px solid $primtitan;
      .modal__input {
        border: none;
        outline: 1px solid $primtitan;
        border-radius: 15px;
        margin: 16px;
      }
    }
    .modal__btns {
      display: flex;
      justify-content: flex-end;
      .modal__btn {
        padding: 16px 34px;
        border-radius: 25px;
        margin: 16px;
      }
      .modal__cancel {
        background-color: $primtitan;
        @include font(0.8rem, 600, $primblue);
      }
      .modal__checkout {
        background-color: $primblue;
        @include font(0.8rem, 600, $primtitan);
      }
    }
  }
}
