@import '../../styles/variables.scss';
.root {
  position: absolute;
  bottom: -20px;
  right: -200px;
  z-index: 800;
  flex-direction: row;

  display: none;
  align-items: center;
  user-select: none;
  @include font(1rem, 600, $primblack);
  .message {
    color: $primdanger;
  }
}
