@import '/src/styles/variables.scss';
.root {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 80px;
  right: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #f5f5ff;
  animation: 0.3s forwards slideout;
}
.hidden {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 80px;
  right: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #f5f5ff;
  animation: 0.3s forwards slidein;
}

@keyframes slideout {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
@keyframes slidein {
  from {
    right: 0;
  }
  to {
    right: -300px;
  }
}
